In [1]:
#Question 1:
a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

b()
b()
b()
a

6

# Explanation

When function b() runs, it would call the global variable "a" and excute function c(a). Function c(a) will then increase "a" by 2 and return a new value into function b(). 

Function b() will then return a new value of 'a' after increasing it by 2. Put simply, everytime function b() is called, function c would be triggered to increase the value of the global variable "a" by 2. 

After calling funtion b three times, the value of a increases by 3. Hence, the final expression (a) is evaluated and the result is 6

In [2]:
#Question 2:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print('File ' + file_name + ' not found.')

fileLength('idterm.py')

File idterm.py not found.

In [3]:
#Question 3
class Marsupial:
    def __init__(self):
        self.pouch = []
    
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        print(self.pouch)

    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [4]:
class Marsupial:
    def __init__(self, xcoord, ycoord):
        self.pouch = []
        self.x = xcoord
        self.y = ycoord
    
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        print(self.pouch)

class Kangaroo(Marsupial):
    def __str__(self):
        message = 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)
        return message
    
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

In [5]:
#Question 4
def collatz(x):
    print(x)
    while x!=1:
        if x % 2 == 1:
            x = 3 * x + 1
        else:
            x = x / 2
        print(int(x))
        
collatz(32)

32
16
8
4
2
1

In [6]:
#Question 5:
def binary(n):
    if n < 0:
        print('only positive integers')
    elif n == 0:
        return 0
    else:
        bin = '' 
        while n >= 1:
            remainder = str((n % 2))
            bin = remainder + bin
            n = n // 2
        return int(bin)

binary(43)

101011

In [7]:
#Question 6:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.start = False
        self.hearder = ''
    
    def handle_starttag(self, tag, attrs):
        if len(tag) == 2:
            if tag[:1] == 'h':
                self.start = True
                self.header = tag
    
    def handle_data(self, data):
        if self.start == True:
            if data.strip():
                indt = int(self.header[1:])-1
                print(' '*indt + data)

infile = open('w3c.txt')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

In [21]:
 #Question 8
    !pip install ipython-sql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in c:\users\hp x360 1030 g3\appdata\roaming\python\python39\site-packages (0.4.1)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.4.39)
Requirement already satisfied: sqlparse in c:\users\hp x360 1030 g3\appdata\roaming\python\python39\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: prettytable<1 in c:\users\hp x360 1030 g3\appdata\roaming\python\python39\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (63.4.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.5)
Requirement already satisfied: traitlets>=4.2 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: pygments in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

In [5]:
%load_ext sql

In [7]:
%%sql sqlite://

DROP TABLE IF EXISTS Weather;

CREATE TABLE IF NOT EXISTS Weather(
    City varchar(15), 
    Country varchar(15), 
    Season varchar(15), 
    Temperature float, 
    Rainfall float);

Done.
Done.

[]

In [14]:
%%sql

INSERT INTO Weather VALUES('Mumbai', 'India', 'Winter', 24.8,5.9),
('Mumbai', 'India', 'Spring', 28.4,16.2),
('Mumbai', 'India', 'Summer', 27.9,1549.4),
('Mumbai', 'India', 'Fall', 27.6,346.0),
('London', 'United kingdom', 'Winter', 4.2,207.7),
('London', 'United kingdom', 'Spring', 8.3,169.6),
('London', 'United kingdom','Summer', 15.7,157.0),
('London', 'United kingdom','Fall', 10.4,218.5),
('Cairo', 'Egypt','Winter', 13.6,16.5),
('Cairo', 'Egypt', 'Spring', 20.7,6.5),
('Cairo', 'Egypt', 'Summer', 27.7,0.1),
('Cairo', 'Egypt', 'Fall', 22.2,4.5)

 * sqlite://
12 rows affected.

[]

In [11]:
%%sql

SELECT Temperature
FROM Weather;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [18]:
%%sql

SELECT DISTINCT city
FROM Weather;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [21]:
%%sql

SELECT *
FROM Weather
WHERE Country LIKE 'India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [23]:
%%sql

SELECT Temperature
FROM Weather
WHERE Season LIKE 'Fall';

 * sqlite://
Done.

[(27.6,), (10.4,), (22.2,), (27.6,), (10.4,), (22.2,)]

In [19]:
#Avg rainfall between 200mm and 400mm for city, country and season
%%sql

SELECT City, Country, Season
FROM Weather
WHERE Rainfall >= 200 AND Rainfall <=400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United kingdom', 'Winter'),
 ('London', 'United kingdom', 'Fall')]

In [22]:
#Avg temperature less than 20 and season fall
%%sql

SELECT City, Country 
FROM Weather
WHERE Temperature > 20 AND Season LIKE 'Fall'
ORDER BY Temperature ASC;

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [23]:
#Total annual rainfall for Cairo
%%sql

SELECT SUM(Rainfall) AS Total_Rainfall 
FROM Weather
WHERE City LIKE 'Cairo';

 * sqlite://
Done.

[(27.6,)]

In [25]:
#Total rainfall for each season
%%sql

SELECT season, SUM(Rainfall) AS Total_Rainfall
FROM Weather
GROUP BY season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

In [1]:
#Question 9
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

w = []
for word in words:
    w.append(word.upper()) #uppercase
    
print(w)

x = []
for word in words:
    x.append(word.lower()) #lowercase
print(x)

y = []
for word in words:
    y.append(len(word)) #length of word
    
print(y)

z = []
for word in words:
    list = []
    list.append(word.upper())
    list.append(word.lower())
    list.append(len(word))
    z.append(list)
    
print(z)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]